/*
 * Base structure
 */
/*@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=PT+Sans+Narrow:wght@400;700&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=PT+Sans+Narrow:wght@400&display=swap');
/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    /* font: 17px "Vollkorn",Palatino,Times;*/
    /*font: 17px Georgia,Palatino,Times;*/
    font: 16px 'Open Sans', Tahoma,Verdana,Segoe,sans-serif;
    line-height: 1.42;
}

/*font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";*/

/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
    border: 0;
}

.navbar-brand {
    font-family: 'PT Sans Narrow', 'Open Sans Condensed', 'Open Sans', Tahoma,Verdana,Segoe,sans-serif;
    /*font-weight: 700;*/
    font-variant-numeric: slashed-zero;
    font-size: 25px;
    line-height: 20px;
    text-shadow: 0px 0px 2px #fff;
    color: lightgray !important;
}

.navbar-brand:hover {
    color: white !important;
}


.navbar-nav>li>a {
    line-height:22px
}

@media (max-width: 980px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in {
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}

/*
 * Sidebar
 */

/* Show on top of content for mobile, on the side for wider viewponts */
.sidebar {
    display: block;
    padding: 15px;
    padding-bottom: 5px;
    line-height: 1.3;
    background-color: #f5f5f5;
    border-bottom: 1px solid #eee;
}

@media (min-width: 768px) {
    .sidebar {
        width: 259px;
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 15px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        border-right: 1px solid #eee;
    }
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}


/*
 * Main content
 */

.main {
    padding: 20px;
    margin: 0;
    float: none;
    width: auto;
    max-width: 54em;
    text-align: justify;
    hyphens: auto;
    font: 1.1em;
}
@media (min-width: 768px) {
    .main {
        /*    padding-right: 28px;*/
        padding-left: 24px;
        /*padding-right: auto;*/
        margin-left: 254px;
    }
}
.main .page-header {
    margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}
.placeholders h4 {
    margin-bottom: 0;
}
.placeholder {
    margin-bottom: 20px;
}
.placeholder img {
    display: inline-block;
    border-radius: 50%;
}


.side-title {
    font-family: 'Open Sans Condensed', 'Open Sans', Tahoma,Verdana,Segoe,sans-serif;
    font-size: 36px;
    /*font-weight: bold;*/
    margin: 0;
    margin-bottom: 15px;
    letter-spacing: -0.2px;
}

.side-subtitle {
    font-family: 'Open Sans Condensed', 'Open Sans', Tahoma,Verdana,Segoe,sans-serif;
    font-size: 24px;
    margin: 0;
    margin-top: -10px;
    margin-bottom: 15px;
    font-variant: all-small-caps;
    letter-spacing: -0.2px;
}

.sidebar ul {
    letter-spacing: -0.8px;
    padding-left: 5px;
}
.sidebar ul li {
    list-style-position: inside;
}
.main > h1:first-child, .main > h2:first-child, .main > h3:first-child {
    margin-top: 0;
}

h1 { font-size:28px }
h2 { font-size:23px }
h3 { font-size:19px }
h4 { font-size: 16px; margin-top: 20px; }
h5 { font-size: !inherit; font-weight: bold; margin-top: 15px; }
h6 { font-size: !inherit; font-style: italic; margin-top: 15px; }


#schedule > table tr td:first-child,
#schedule > table tr th:first-child {
    width: 5em;
}

#schedule > table tr td:first-child + td,
#schedule > table tr th:first-child + th {
    width: 5em;
}

.staff {
    text-align: center;
    display: grid;
    grid-template-columns: auto auto;
    grid-row-gap: 4ex;
    margin-top: 4ex;
    margin-bottom: 4ex;
}
@media (min-width: 986px) {
    .staff {
        grid-template-columns: auto auto auto;
    }
}

.grid-2 {
    grid-template-columns: auto auto;
}

@media (max-width: 460px) {
    .staff, .grid-2 {
        grid-template-columns: auto;
    }
}

.staff > p {
    text-align: center;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.staff img {
    max-width: 200px;
    max-height: 200px;
    border-radius: 3%;
}

/*
#schedule > table thead tr:first-of-type th {
  text-align: left;
}

#schedule > table tbody tr td:first-child {
  text-align: center;
}*/

.centered-text {
    text-align: center;
}

.updates dt {
    margin-top: 3ex;
    margin-bottom: 1ex;
}

#updates {
    margin-top: 5ex;
}

.added { color: green; }
.deleted { color: gray; text-decoration: line-through; }
figure { text-align: center; }
.smallcaps { font-variant:small-caps; }
.disabled { color: #B0B0B0; font-style: oblique; }
.box { border: 1.5px solid gray; border-radius: 10px; background: #F0F0F0; margin-top: 3ex; margin-bottom: 3ex; box-shadow: 0 0 15px rgba(0, 0, 0, 0.15); }
.box h1, .box h2, .box h3, .box h4, .box h5 { font-weight: bold; margin: 0; padding: 6px 10px; color: white; background: #3A3A3A; border-radius: 8px 8px 0 0; font-size: inherit !important; }
.box p { padding: 5px 10px; }
.box ol, .box dl { padding-right: 10px; }

.box.digression { border: 1.5px solid #993333; border-radius: 10px; background: #f2e6e6; }
.box.digression h1,
.box.digression h2,
.box.digression h3,
.box.digression h4,
.box.digression h5 { background: #993333; }

.box.important { border: 1.5px solid #D35437; border-radius: 10px; background: #FDF5F2; }
.box.important h1,
.box.important h2,
.box.important h3,
.box.important h4,
.box.important h5 { background: #D35437; }

.box.submission dl {
    /*display: flex;*/
    display: grid;
    grid-template-columns: auto auto;
    margin: 10px;
}

.box.submission dl p {
    /*display: inline;*/
    padding: 0;
    padding-bottom: 5px;
    margin: 0;
}

.box.submission dl dd {
    /*display: inline;*/
    margin: 0;
}
/*.box.submission dl dd:after{
  display: block;
  content: '';
}*/
.box.submission dl dt{
    /*display: inline-block;*/
    /*width: 105px;*/
    margin-right: 1em;
}

/*.changelog dl dd {
  margin-left: 40px;
  display: list-item;
}*/

figure { margin-top: 4ex; margin-bottom: 4ex; }
figcaption { margin-top: 1ex; }

h4 { font-weight: 600; }

.schedule ul {
    margin-bottom: 0;
    padding-left: 0px;
    list-style-type: none;
}

a[href^=\#] {
    color: #9a3035;
}

a, .sidebar a[href^=\#]  {
    color: #3e81bb;
}

table, .academia table {
    border-collapse: collapse;
    border-spacing: 0;
    width: auto;
    max-width: 100%;
    border-top: 2.27px solid black !important;
    border-bottom: 2.27px solid black !important;
    overflow-x: auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}
th, .academia th,
td, .academia td {
    border: 0 none !important;
    text-align: left;
    padding: 0.5rem;
    line-height: 1.1;
}
tbody tr:hover,
.academia tbody tr:hover {
    background-color: #cccccc !important;
    /*-webkit-filter: invert(100%);
    filter: invert(100%);*/
}
table > tbody > tr:first-child > td,
table > tbody > tr:first-child > th,
.academia table > tbody > tr:first-child > td,
.academia table > tbody > tr:first-child > th {
    border-top: 1.36px solid black !important;
}
table > tbody > tr:last-child > td,
table > tbody > tr:last-child > th,
.academia table > tbody > tr:last-child > td,
.academia table > tbody > tr:last-child > th {
    border-bottom: 1.36px solid black !important;
}
thead th,
.academia thead th {
    background-color: white !important;
    font-weight: 700;
}
tr:nth-child(even), .academia tr:nth-child(even) { background-color: #f5f5f5 ; }

.schedule table, .assignments table {
    margin-top 20px;
    width: 100%;
}

input[type="checkbox"] {
    margin-right: 0.6ex;
}