/* Original .css file source: https://kevinboone.me/css/main.css */

html {
    font-size: 16px;
}

ul {
    list-style-type: square;
    line-height: 1.45em;
    margin-bottom: 0.5em;
}

li {
    line-height: 1.45em;
    margin-left: 2em;
}

p {
    line-height: 1.45em;
    margin-bottom: 0.5em;
    margin-top: 0;
}

body {
    background: #fff;
}

a {
    color: #4C9CF1;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #444;
}

.footer-clearance-para {
}

#content {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    max-width: 50em;
    position: relative;
    padding: 0px
}

figure {
    text-align: center;
}

figcaption {
    font-style: italic;
}

#footer {
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.5em;
    border-top: 1px solid #4C9CF1;
    clear: both;
    max-width: 50em;
}


.footnote {
    font-size: smaller;
}

/*
header {
    background: black;
    width: 100%;
    height: 82px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}*/


h1 {
    font-family: Helvetica Neue, Helvetica, Arial, serif;
    font-size: 2em;
    color: #2262AD;
    line-height: 1.15em;
    margin-top: 0em;
    margin-bottom: 0.5em;
}

h2 {
    font-family: Helvetica Neue, Helvetica, Arial, serif;
    font-size: 1.5em;
    color: #2262AD;
    line-height: 1.15em;
    margin-top: 1em;
    margin-bottom: 0.3em;
}

h3 {
    font-family: Helvetica Neue, Helvetica, Arial, serif;
    font-size: 1.2em;
    color: #2262AD;
    line-height: 1.1em;
    margin-top: 1em;
    margin-bottom: 0.3em;
}

h4 {
    font-size: 1.1em;
    color: black;
    line-height: 1.1em;
    margin-top: 1em;
    margin-bottom: 0.3em;
}

#myname {
    display: flex;
    justify-content: center;
    font-size: 3em;
    font-family: Helvetica Neue, Helvetica, Arial, serif;
}

pre {
    margin-top: 0.5em;
    margin-bottom: 0.8em;
}

@media only screen and (max-width: 700px) {
    /* When the screen is too narrow, take the margins away. */
    #content {
        margin-left: 0.5em;
        margin-right: 0.5em;
    }
}


/* ==== HARD RESET OF BOOTSTRAP TYPOGRAPHY ==== */
body {
    font-family: Helvetica Neue, Helvetica, Arial, serif;
    font-size: 16px;
    line-height: 1.45em;
}

h1, h2, h3, h4 {
    font-family: Helvetica Neue, Helvetica, Arial, serif;
    color: #2262AD;
}

h1 {
    font-size: 2em;
    line-height: 1.15em;
}

h2 {
    font-size: 1.5em;
    line-height: 1.15em;
}

h3 {
    font-size: 1.2em;
    line-height: 1.1em;
}

h4 {
    font-size: 1.1em;
    line-height: 1.1em;
}
