<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="./">Andrew Chen</a>

            <!-- FIX ABOVE! WHEN IN PROJECTS HTML, PRESSING ANDREW CHEN GOES TO /CODE (404) -->

        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/home.html">Home</a></li>
                <li><a href="/index.html">About</a></li>
                <li><a href="/code/projects.html">Projects</a></li>
                <li><a href="/gallery.html">Gallery</a></li>
                <li><a href="/contact.html">Contact</a></li>
                <li><a href="/cv.pdf">CV</a></li>
                <li><a href="/more.html">More</a></li>

                <!-- INSERT THE SEARCH BAR HTML BELOW -->

                <form method="get" action="https://www.google.com/search" target="_blank">
                    <input type="text" name="q" placeholder="Search">
                    <input type="hidden" name="q" value="site:andrchen.com">
                    <button type="submit">&#128269;</button>
                </form>
            </ul>
        </div>
    </div>
</nav>