<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="./">CS3650 Computer Systems</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/home.html">Home</a></li>
                <li><a href="/about.html">Syllabus</a></li>
                <li><a href="/code/projects.html">Schedule</a></li>
                <li><a href="/gallery.html">Office Hours</a></li>
                <li><a href="/contact.html">Assignments</a></li>
                <li><a href="/cv.pdf">Resources</a></li>
                <li><a href="/more.html">Resources</a></li>
            </ul>
        </div>
    </div>
</nav>